# folders and files not to track
.coverage
.vscode
.mypy_cache
.pytest_cache
htmlcov
tests/__pycache__/
ML_for_Battery_Design/__pycache__/
ML_for_Battery_Design/src/__pycache__/
ML_for_Battery_Design/src/simulation/__pycache__/
ML_for_Battery_Design/src/settings/simulation/__pycache__/
ML_for_Battery_Design/src/helpers/__pycache__/
