[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
docopt = "*"
numpy = "*"
matplotlib = "*"
tensorflow-gpu = "*"
sklearn = "*"
pandas = "*"
seaborn = "*"

[dev-packages]
black = "*"
isort = "*"
flake8 = "*"
mypy = "*"
pytest = "*"
pytest-cov = "*"
pre-commit = "*"
mkdocs = "*"
mkdocstrings = {extras = ["python"], version = "*"}
mkdocs-material = "*"
mkgendocs = "*"
pytest-subtests = "*"

[scripts]
main = "bash ./bin/main.sh"
test = "bash ./bin/test.sh"
cov = "bash ./bin/cov_report.sh"
commit = "bash ./bin/git_commit.sh"
push = "bash ./bin/git_push.sh"

[requires]
python_version = "3.9"
